MOCKPAY_BASE_URL=https://api-mock-payment.funvaltech.cloud
MOCKPAY_SECRET_KEY=tu_secret_key_de_mockpay
MOCKPAY_RETURN_URL=https://pos-ecommerce-hibrido.onrender.com/pago-exitoso
MOCKPAY_CANCEL_URL=https://pos-ecommerce-hibrido.onrender.com/pago-cancelado
MOCKPAY_WEBHOOK_URL=https://pos-ecommerce-hibrido.onrender.com/pagos/webhook